.collection-tabs__tabs-wrapper {
  display: flex;
  text-align: center;
  row-gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  button {
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;
    margin-left: -1px;

    padding: 8px 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    
    &.active{
      color: #FFF;
      background-color: #000;
    }
  }
}

.collection-tabs__content {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 88px;
  
  &:not(.active) {
    display: none;
  }
}

.collection-tabs__content-intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.collection-tabs__content-intro-description {
  text-align: center;
  font-size: var(--Fontsize-Body-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Body-md, 20px); /* 125% */
}

@media screen and (max-width: 1150px) {
  .collection-tabs__content {
    margin-top: 40px;
    gap: 40px;
  }
}

.collection-tabs__media-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.collection-tabs__media-item-media {
  text-align: left;
  img {
    width: 100%;
  }
}

.collection-tabs__media-item-title{

}

.collection-tabs__media-item-button {
  display: inline-block;
  background-color: #000;
  padding: 16px 44px 16px 16px;
  color: var(--Colors-Text-Action-White, #FFF);
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    background: var(--link-svg-url);
    height: 24px;
    width: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 8px;
  }
}

.collection-tabs__media-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.collection-tabs__media-item-media .product-card {
  max-width: 400px;
  margin: 0 auto;
}

.collection-tabs__media-item-media:empty {
  display: none;
}

@media screen and (min-width: 1000px) {
  .collection-tabs__media-item {
    grid-template-columns: 1fr 1fr;
    gap: 130px;

    &.reversed {
      .collection-tabs__media-item-media {
        order: 2;
      }
    }

    .collection-tabs__media-item-content.full-width {
      grid-column: span 2;
    }
  }
}

.collection-tabs__content-intro-title {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .collection-tabs__content-intro-description {
    text-align: left;
  }
  
  .collection-tabs__content-intro-title {
    text-align: left;
  }
}